# Data files
data/raw/california_fish_landings_1928_2002.csv
data/raw/*
data/processed/ca_all_shellfish_landings.csv
data/processed/shellfish_landings_clean.csv
data/external/*
!data/raw/.gitkeep
!data/external/.gitkeep

# Documentation
docs/erddap_info/
docs/draft_report_for_final.md

# Image files
images/*
!images/.gitkeep
images/figures/*
!images/figures/.gitkeep 

# Scratch notebooks 
notebooks/scratch/fishing_success_plan.ipynb
notebooks/scratch/model_planning.ipynb
notebooks/scratch/model_planning_run1.ipynb
notebooks/scratch/model_planning_run2.ipynb
notebooks/scratch/Final_no_graphs.ipynb 
notebooks/scratch/*
notebooks/scratch

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Local ML model files
*.pkl
*.h5
models/

# Large files
*.xlsx
*.zip
*.tar.gz

# Explicitly ignore specific CSV files
data/processed/ca_all_shellfish_landings.csv

# Explicitly include specific CSV files
!PYT305_final_submission/ca_shellfish_landings.csv
!data/processed/shellfish_landings_mid-modeling.csv
!data/processed/shellfish_landings_snippet.csv

# Course Final scratch files
AMaguire_PYT305_Final.ipynb
ml_for_py_final.ipynb
notebooks/01_AMaguire_PYT305_Final.ipynb
notebooks/02_AMaguire_PYT305_Final.ipynb